<!DOCTYPE html>
<html>
<head>
  <title>Table Example</title>
  <style>
    body{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    table {
      border-collapse: collapse;
    }

    th, td {
      border: 1px solid black;
      padding: 8px;
    }
    button {
  /* Set the background color */
  border: none; /* Remove the border */
  padding: 10px 20px; /* Set padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Display as inline-block */
  font-size: 16px; /* Set font size */
  cursor: pointer; /* Add a cursor pointer */
  border-radius: 4px; /* Add border radius */
  margin:10px;
}

  </style>
</head>
<body>
  <h3>Not Found</h3>
  <a href="/"> go home</a>
</body>
</html>
